<!DOCTYPE html>
<html>
<head>
	<title>pH values</title>
	<script type="text/javascript" src="/javascripts/client.js"></script>	
</head>
<body>
	<h1>pH Values observed so far</h1>
	<ul>
    <% for(var i = 0; i < results.length; i++) { %>
        <li>
                <%= results[i].value + " " + results[i].date_added.toString() %>
        </li>
    <% } %>
</ul>
</body>
</html>