<!DOCTYPE html>
<html>
<head>
	<title>pH values</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/client.js"></script>	
</head>
<body>
	phValues to be displayed.
</body>
</html>