<!DOCTYPE html>
<html>
<head>
	<title>pH values</title>
	<script type="text/javascript" src="/javascripts/client.js"></script>	
</head>
<body>
	<h1>pH Values observed so far</h1>
	<table>
	<tr>
	    <th>pH Values</th>
	    <th>Date added</th> 
  	</tr>
    <% for(var i = 0; i < results.length; i++) { %>
        <tr>
                <td><% results[i].value %></td>
                <td> <% results[i].date_added.toString() %></td>
        </tr>
    <% } %>
	</table>
</body>
</html>